{% extends 'base/base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="text-center mb-5">
        📰 SkillSwap Blog
    </h1>

    <div class="row">

        <div class="col-md-4 mb-4">

            <div class="glass-card p-4 h-100">

                <h3>How To Learn Python Fast</h3>

                <p>
                    Complete roadmap for beginners.
                </p>

                <a href="#" class="btn btn-primary">
                    Read More
                </a>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="glass-card p-4 h-100">

                <h3>Top AI Skills In 2026</h3>

                <p>
                    Most demanded AI skills.
                </p>

                <a href="#" class="btn btn-primary">
                    Read More
                </a>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="glass-card p-4 h-100">

                <h3>How Skill Exchange Works</h3>

                <p>
                    Learn without spending money.
                </p>

                <a href="#" class="btn btn-primary">
                    Read More
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}